.header {
  background-color: #142F30;
  height: 100px;
  color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0px 3px 5px #888888, 0px -2px 5px #888;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px; }

.header__title-name {
  font-size: 28px; }

.header__title-title {
  font-size: 20px; }

.header__nav {
  display: flex;
  font-size: 18px; }

.header__nav-item {
  color: inherit;
  margin-left: 10px; }

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    height: 100px;
    text-align: center; } }
