.header {
  background-color: #142F30;
  height: 70px;
  color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0px 3px 5px #888888, 0px -2px 5px #888;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 60px; }

.header__title {
  font-size: 24px; }

.header__nav {
  display: flex; }

.header__nav-item {
  color: inherit;
  margin-left: 10px; }
